<?xml version='1.0' encoding='utf-8'?>
<widget id="com.dilawar.hippo" version="2020.01.26" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <preference name="android-minSdkVersion" value="19"/>
    <preference name="DisallowOverscroll" value="true"/>
    <hook src="hooks/hookers.js" type="before_prepare"/>
    <hook src="hooks/beforedep.js" type="before_deploy"/>
    <name>NCBS Hippo</name>
    <description>NCBS Community APP powered by NCBS Hippo</description>
    <author email="dilawar.s.rajput@gmail.com" href="https://github.com/dilawar">
        Dilawar Singh
    </author>
    <content src="index.html"/>
    <access origin="*"/>
    <allow-intent href="http://*/*"/>
    <allow-intent href="https://*/*"/>
    <allow-intent href="tel:*"/>
    <allow-intent href="sms:*"/>
    <allow-intent href="mailto:*"/>
    <allow-intent href="geo:*"/>
    <icon src="res/icon/android/icon.png"/>
    <platform name="android">
      <allow-intent href="market:*"/>
        <!--
          <splash density="port-hdpi" src="res/screen/android/splash-port-mdpi.png"/>
          <preference name="SplashShowOnlyFirstTime" value="true"/>
        -->
          <resource-file src="google-services.json" target="app/google-services.json"/>
        </platform>
    <platform name="ios">
        <allow-intent href="itms:*"/>
        <allow-intent href="itms-apps:*"/>
    </platform>
    <allow-navigation href="*"/>
</widget>
