div.hide-native-scrollbar {
    -ms-overflow-style: none;  /* Internet Explorer 10+ */
    scrollbar-width: none;  /* Firefox */
}

div.hide-native-scrollbar::-webkit-scrollbar { 
    display: none;  /* Safari and Chrome */
}

