body {
    // width: 80%;
    margin:auto;
    max-width: 800px;
    background: url(https://ncbs.res.in/hippo/v1/info/photography_club) no-repeat center center fixed;
    background-size:cover;
}

.with_photography_club {
    background: url(https://ncbs.res.in/hippo/v1/info/photography_club) no-repeat center center fixed;
    background-size:cover;
}


div.page-content {
    margin: auto;
    padding-bottom: 30px;
}

input {
    user-select: element !important;
}

.tab-link 
{
    &.active:not(.offline),
    &.active:not(.online) {
        background-color: rgba(1, 18, 25, 0.1);
    }

    &.offline {
        background-color: rgba(255, 0, 0, 0.60);

        &.active {
            background-color: rgba(255, 0, 0, 0.70);
        }
    }

    &.online {
        background-color: rgba(0, 255, 0, 0.25);

        &.active {
            background-color: rgba(0, 255, 0, 0.50);
        }
    }

    i {
        font-size: 24px;
        color: #FFFFFF;

        &.settings-icon {
            font-size: 26px;
            margin-top: -2px;
            margin-left: 2px;
        }

        &.a {
            display: inline-block;
        }
        &.b {
            display: none;
        }
    }

    &.active {

        i {
            &.a {
                display: none;
            }
            &.b {
                display: inline-block;
            }
        }
    }
}

.fw-flag {
    width: 44px;
    height: 34px;
    border: 1px solid #EEE;
}

.card-header-pic .card-header {
    height: 40vw;
    background-size: cover;
    background-position: center;
    color: #fff;
}

.card-header-pic .card-content-padding .date{
    color: #8e8e93;
}

.google-maps {
    position: relative;
    padding-bottom: 120%; // This is the aspect ratio
    height: 0;
}
.google-maps iframe {
    position: absolute;
    top: 0;
    left: 0;
    align: middle;
    width: 100% !important;
    height: 100% !important;
    border: 0px;
}

.google-calendar {
    position: relative;
    padding-bottom: 100%; // This is the aspect ratio
    padding-left: 5px;
    padding-right: 10px;
    height: 0;
}

.google-calendar iframe {
    position: absolute;
    top: 0;
    left: 0;
    align: middle;
    width: 100% !important;
    height: 100% !important;
    border: 0px;
}

.location-head-icon {
    min-width: 20px;
    min-height: 30px;
    display: flex;
    background-color: yellow;
    vertical-align: top;
    justify-content: center;
    align-items:bottom;
    border-radius: 50%;
}

.circle-red {
    background: rgba(255,0,0,0.5);
    width: 20px;
    height: 20px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    text-align: center;
    font-size: small;
    position: absolute;
    left: 50%;
    top: -10%;
}

div.watermark {
    position:absolute;
    right: -10%;
    bottom: 25%;
    z-index:0;
    display:flex;
    color:lightred;
    font-size:40px;
    transform:rotate(-90deg);
}

.input-no-outline {
    outline: none!important;
    border: none;
}

.hippo-login-screen {
    background-color: transparent;
}

canvas.chartjs-render-monitor {
    size: inherit;
}

.main-footer {
    position: fixed;
    bottom: 15px;
    padding: 10px;
    text-align: left;
    font-size: x-small;
    //background: rgba(255,255,255,1);
}

div.leaflet-div-icon {
  background: none;
  border: none;
}
